@font-face {
  font-family: Tattoo;
  src: url("./fonts/FreehandTattooOne.ttf"); }
* {
  color: white;
  box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0; }

.app-header {
  font-family: Tattoo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  background-color: black;
  width: 100%; }
  .app-header .Logo {
    padding-top: 0; }
  .app-header .app-nav {
    display: flex;
    align-content: flex-end;
    color: white; }
  .app-header .navcompnents {
    display: flex;
    align-self: flex-start;
    width: 100%; }
  .app-header .direction {
    display: flex;
    align-self: flex-end;
    flex-direction: column; }
    .app-header .direction p {
      align-items: flex-end;
      color: white; }
    .app-header .direction.currentPage {
      color: darkslategrey; }
  .app-header p {
    margin: 0;
    padding: 0;
    cursor: pointer; }
    .app-header p:hover {
      color: darkslategrey; }

.AllBlogs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 750px;
  height: 100%; }
  .AllBlogs .app-nav-bar {
    width: 10em;
    background-color: darkgrey; }
    .AllBlogs .app-nav-bar .nav-item {
      background-color: lightgrey;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10px; }
      .AllBlogs .app-nav-bar .nav-item:hover {
        background-color: darkslategrey; }
      .AllBlogs .app-nav-bar .nav-item.currentScreen {
        color: darkslategrey;
        background-color: white; }
  .AllBlogs .mainContent {
    flex: 1;
    background-color: red; }
    .AllBlogs .mainContent .blog {
      margin: 5px;
      padding: 5px; }

.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 750px;
  height: 100%;
  flex: 1;
  background-color: red; }
  .mainContent .blog-main {
    color: black;
    margin: 5px; }
    .mainContent .blog-main #headField, .mainContent .blog-main #inputField, .mainContent .blog-main #tag {
      color: black; }
    .mainContent .blog-main .button {
      color: black; }

.app-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start space-between;
  height: 155px;
  background-color: black;
  width: 100%;
  color: white;
  align-content: stretch; }
  .app-footer .footer {
    justify-content: flex-start;
    color: inherit; }
    .app-footer .footer a:link {
      text-decoration: none; }
    .app-footer .footer a:hover {
      color: lightslategrey;
      cursor: crosshair; }

.linkpages {
  text-align: end;
  font-size: 2em;
  color: white; }
  .linkpages .covfefe {
    color: white;
    cursor: crosshair; }
    .linkpages .covfefe:hover {
      color: black; }

.app-wrapper {
  display: flex;
  align-items: stretch; }
  .app-wrapper .Post {
    display: flex;
    align-items: stretch; }
  .app-wrapper .profile {
    display: flex;
    align-content: center; }
  .app-wrapper .Hero {
    position: absolute;
    font-family: Tattoo;
    background: url("images/herobanner.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 580px;
    margin: 1px; }
    .app-wrapper .Hero h2 {
      text-align: center;
      padding-top: 260px;
      padding-bottom: 260px;
      margin: 50px; }
  .app-wrapper .Hero2 {
    position: absolute;
    font-family: Tattoo;
    background: url("images/herobanner2.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-top: 750px;
    width: 100%;
    height: 300px; }
    .app-wrapper .Hero2 h2 {
      text-align: center;
      padding-top: 200px;
      padding-bottom: 250px;
      margin: 50px;
      margin-bottom: 0; }
  .app-wrapper .bio {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    position: absolute;
    background: none center center fixed;
    margin-top: 600px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
    color: white;
    border: 1px solid black; }
    .app-wrapper .bio .bioflex {
      display: flex;
      justify-content: center; }
      .app-wrapper .bio .bioflex h1 {
        display: flex;
        justify-content: center;
        border: 1px solid black; }

.links {
  display: flex;
  margin-top: 1095px;
  text-align: center; }

.profilelinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1px;
  width: 100%;
  border: 1px solid black; }
  .profilelinks .projectprofiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1px;
    width: 100%;
    border: 1px solid black; }
  .profilelinks .portfolio {
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    padding: 2em;
    height: 18em;
    width: 18em; }

/*# sourceMappingURL=app.css.map */
